{% extends "base.html" %}

{% block title %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'data/style.css' %}">
<title>SCUP Data</title>
{% endblock %}

{% block navbar %}
{% load static %}
<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/data">Data</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/about">About</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Instruments
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/instruments/mosaic">MoSAIC</a></li>
      <li><a class="dropdown-item" href="/instruments/aether">AETHER</a></li>
      <li><a class="dropdown-item" href="/instruments/cape">CAPE</a></li>
    </ul>
</li>
{% endblock %}


{% block content %}
{% load static %}
<script src="{% static 'data/api.js' %}"></script>

<h1>Science Data Archive</h1>

<div class="container-md" id="dataForms">
  <div class="dataForm">
    <label class="my-1 mr-2" for="selectGDC">GDC-#</label>
    <select class="custom-select my-1 mr-sm-2" id="selectGDC">
      <option value="0"></option>
      <option value="1">GDC-1</option>
      <option value="2">GDC-2</option>
      <option value="3">GDC-3</option>
      <option value="4">GDC-4</option>
      <option value="5">GDC-5</option>
      <option value="6">GDC-6</option>
    </select>
  </div>

  <div class="dataForm">
    <label class="my-1 mr-2" for="selectDataType">Data Type</label>
    <select class="custom-select my-1 mr-sm-2" id="selectDataType">
      <option value="0"></option>
      <option value="1">AETHER</option>
      <option value="2">CAPE</option>
      <option value="3">MoSAIC</option>
      <option value="4">EPHEM</option>
    </select>
  </div>

  <div class="dataForm">
    <label class="my-1 mr-2" for="selectDataLevel">Data Level <a href="#" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Level 0: Instrument science data at full resolution, time ordered, with duplicates and transmission errors removed<br>Level 1: Processed to represent physical units, resampled, calibrated, and packaged with ancillary<br>Level 2: Official science data product including geophysical parameters from instruments, derived data products, and located in space and time commensurate with instrument location, pointing and sampling<br>QL: Science & engineering telemetry data stream">(?)</a></label>
    <select class="custom-select my-1 mr-sm-2" id="selectDataLevel">
      <option value="0"></option>
      <option value="1">QL</option>
      <option value="2">L0</option>
      <option value="3">L1</option>
      <option value="4">L2</option>
    </select>
  </div>

  <div class="dataForm">
    <label class="my-1 mr-2" for="selectDate">Date</label>
    <input type="date" id="selectDate" name="selectDate" value="">
  </div>
</div>

<div id="dataSubmitContainer" class="container-md">
  <button type="button" id="dataSubmit" class="btn btn-primary center" onclick="dataSubmit()">Submit</button>
</div>

<ul id="dataList" class="list-group"></ul>

{% endblock %}