{% extends "base.html" %}

{% block title %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'data/style.css' %}">
<title>SCUP Data</title>
{% endblock %}

{% block navbar %}
{% load static %}
<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/data">Data</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/about">About</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Instruments
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/instruments/mosaic">MoSAIC</a></li>
      <li><a class="dropdown-item" href="/instruments/aether">AETHER</a></li>
      <li><a class="dropdown-item" href="/instruments/cape">CAPE</a></li>
    </ul>
</li>
{% endblock %}


{% block content %}
{% load static %}
<script src="{% static 'data/api.js' %}"></script>

<h1>Science Data Archive</h1>

<div class="accordion" id="dataAccordion">
    <!-- GDC-1 Data -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="dataGDC1Header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGDC1" aria-expanded="false" aria-controls="collapseGDC1">
                GDC-1
            </button>
        </h2>
        <div id="collapseGDC1" class="accordion-collapse collapse" aria-labelledby="dataGDC1Header" data-bs-parent="#dataAccordion">
            <div class="accordion-body">
                <div class="accordion" id="gdc1InstrumentsAccordion">
                <!-- GDC-1 CAPE -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="gdc1CAPEHeader">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGDC1" aria-expanded="false" aria-controls="collapseGDC1">
                            CAPE
                        </button>
                    </h2>
                </div>
                <!-- GDC-1 AETHER -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="gdc1AETHERHeader">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGDC1" aria-expanded="false" aria-controls="collapseGDC1">
                            AETHER
                        </button>
                    </h2>
                </div>
                <!-- GDC-1 MoSAIC -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="gdc1MoSAICHeader">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGDC1" aria-expanded="false" aria-controls="collapseGDC1">
                            MoSAIC
                        </button>
                    </h2>
                </div>
                <!-- GDC-1 EPHEM -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="gdc1EPHEMHeader">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGDC1" aria-expanded="false" aria-controls="collapseGDC1">
                            EPHEMs
                        </button>
                    </h2>
                </div>
                </div>
            </div>
        </div>
    </div>

    <!-- GDC-2 Data -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="dataGDC2Header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGDC2" aria-expanded="false" aria-controls="collapseGDC2" onclick="getData()">
                GDC-2
            </button>
        </h2>
        <div id="collapseGDC2" class="accordion-collapse collapse" aria-labelledby="dataGDC2Header" data-bs-parent="#dataAccordion">
            <div class="accordion-body">
                <div class="spinner-border text-primary" id="data-loading" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <ul class="list-group list-gorup-flush" id="data-list"></ul>
            </div>
        </div>
    </div>

    <!-- GDC-3 Data -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="dataGDC3Header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGDC3" aria-expanded="false" aria-controls="collapseGDC3" onclick="getData()">
                GDC-3
            </button>
        </h2>
        <div id="collapseGDC3" class="accordion-collapse collapse" aria-labelledby="dataGDC3Header" data-bs-parent="#dataAccordion">
            <div class="accordion-body">
                <div class="spinner-border text-primary" id="data-loading" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <ul class="list-group list-gorup-flush" id="data-list"></ul>
            </div>
        </div>
    </div>

    <!-- GDC-4 Data -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="dataGDC4Header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGDC4" aria-expanded="false" aria-controls="collapseGDC4" onclick="getData()">
                GDC-4
            </button>
        </h2>
        <div id="collapseGDC4" class="accordion-collapse collapse" aria-labelledby="dataGDC4Header" data-bs-parent="#dataAccordion">
            <div class="accordion-body">
                <div class="spinner-border text-primary" id="data-loading" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <ul class="list-group list-gorup-flush" id="data-list"></ul>
            </div>
        </div>
    </div>

    <!-- GDC-5 Data -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="dataGDC5Header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGDC5" aria-expanded="false" aria-controls="collapseGDC5" onclick="getData()">
                GDC-5
            </button>
        </h2>
        <div id="collapseGDC5" class="accordion-collapse collapse" aria-labelledby="dataGDC5Header" data-bs-parent="#dataAccordion">
            <div class="accordion-body">
                <div class="spinner-border text-primary" id="data-loading" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <ul class="list-group list-gorup-flush" id="data-list"></ul>
            </div>
        </div>
    </div>

    <!-- GDC-6 Data -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="dataGDC6Header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGDC6" aria-expanded="false" aria-controls="collapseGDC6" onclick="getData()">
                GDC-6
            </button>
        </h2>
        <div id="collapseGDC6" class="accordion-collapse collapse" aria-labelledby="dataGDC6Header" data-bs-parent="#dataAccordion">
            <div class="accordion-body">
                <div class="spinner-border text-primary" id="data-loading" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <ul class="list-group list-gorup-flush" id="data-list"></ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}