{% extends "base.html" %}

{% block title %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'data/style.css' %}">
<title>SCUP Data</title>
{% endblock %}

{% block navbar %}
{% load static %}
<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/data">Data</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/about">About</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Instruments
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/instruments/mosaic">MoSAIC</a></li>
      <li><a class="dropdown-item" href="/instruments/aether">AETHER</a></li>
      <li><a class="dropdown-item" href="/instruments/cape">CAPE</a></li>
    </ul>
</li>
{% endblock %}


{% block content %}
{% load static %}
<script src="{% static 'data/api.js' %}"></script>

<h1>Science Data Archive</h1>

<nav aria-label="breadcrumb">
    <ol id="data-breadcrumbs" class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>  

<ul id="dataList" class="list-group">
    <button type="button" class="list-group-item list-group-item-action" onclick="stepThrough(this)">GDC-1</button>
    <button type="button" class="list-group-item list-group-item-action" onclick="stepThrough(this)">GDC-2</button>
    <button type="button" class="list-group-item list-group-item-action" onclick="stepThrough(this)">GDC-3</button>
    <button type="button" class="list-group-item list-group-item-action" onclick="stepThrough(this)">GDC-4</button>
    <button type="button" class="list-group-item list-group-item-action" onclick="stepThrough(this)">GDC-5</button>
    <button type="button" class="list-group-item list-group-item-action" onclick="stepThrough(this)">GDC-6</button>  
</ul>

{% endblock %}