{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

<!-- {% block extra_css %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
{% endblock %} -->

{% block content %}
{% load wagtailimages_tags %}
<body id="page-top">
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-heading text-uppercase">Geospace Dynamics Constellation</div>
            <div class="masthead-subheading">Science Community User Portal</div>
        </div>
    </header>

    <!-- Home-->
    <section class="page-section" id="about">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">About GDC</h2>
                <h3 class="section-subheading text-muted">{{ page.About_GDC|richtext }}</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">{{ page.Section1_Header|richtext }}</h4>
                    <p class="text-muted">{{ page.Section1_Content|richtext }}</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">{{ page.Section2_Header|richtext }}</h4>
                    <p class="text-muted">{{ page.Section2_Content|richtext }}</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">{{ page.gdc_bio_right_header|richtext }}</h4>
                    <p class="text-muted">{{ page.gdc_bio_right_text|richtext }}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Instrument Teams -->
    <section class="page-section bg-light" id="instteam">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">GDC Instrument Teams</h2>
                <h3 class="section-subheading text-muted">{{ page.instruments_bio|richtext }}</h3>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        {% image page.aether_logo width-300 class="max-auto rounded-circle" %}
                        <h4><a href="/instruments/aether">AETHER</a></h4>
                        <p class="text-muted">{{ page.aether_bio|richtext }}</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        {% image page.cape_logo width-300 class="max-auto rounded" %}
                        <h4><a href="/instruments/cape">CAPE</a></h4>
                        <p class="text-muted">{{ page.cape_bio|richtext }}</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        {% image page.mosaic_logo width-300 class="max-auto rounded" %}
                        <h4><a href="/instruments/mosaic">MoSAIC</a></h4>
                        <p class="text-muted">{{ page.mosaic_bio|richtext }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">{{ page.instruments_lower_bio|richtext }}</p></div>
            </div>
        </div>
    </section>
    <!-- Timeline -->
    <section class="page-section" id="events">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Upcoming Events</h2>
                <h3 class="section-subheading text-muted">{{ page.timeline_bio|richtext }}</h3>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-image">{% image page.timeline_1_image width-300 class="rounded-circle img-fluid" %}</div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>{{ page.timeline_1_date|richtext }}</h4>
                            <h4 class="subheading">{{ page.timeline_1_header|richtext }}</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">{{ page.timeline_1_bio|richtext }}</p></div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">{% image page.timeline_2_image width-300 class="rounded-circle img-fluid" %}</div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>{{ page.timeline_2_date|richtext }}</h4>
                            <h4 class="subheading">{{ page.timeline_2_header|richtext }}</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">{{ page.timeline_2_bio|richtext }}</p></div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image">{% image page.timeline_3_image width-300 class="rounded-circle img-fluid" %}</div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>{{ page.timeline_3_date|richtext }}</h4>
                            <h4 class="subheading">{{ page.timeline_3_header|richtext }}</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">{{ page.timeline_3_bio|richtext }}</p></div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">{% image page.timeline_4_image width-300 class="rounded-circle img-fluid" %}</div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>{{ page.timeline_4_date|richtext }}</h4>
                            <h4 class="subheading">{{ page.timeline_4_header|richtext }}</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">{{ page.timeline_4_bio|richtext }}</p></div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <h4>{{ page.timeline_footer|richtext }}</h4>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- Timeline -->
</body>
{% endblock %}

{% block extra_js %}
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
