{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}
{% load wagtailimages_tags %}
{% load wagtailvideos_tags %}

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">Geospace Dynamics Constellation</div>
    </div>
</header>
<!-- Home -->
<section class="page-section bg-light" id="gdcnews">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">
            <a href="{{ news.0.get_parent.url|slugify }}">
                {{ news.0.get_parent.title }}
            </a>
            </h2>
            <div class="row mt-5 mb-5" style="padding:40px">
                <!-- Only show the first two blog posts that are inside the news variables -->
                {% for post in news|slice:":2" %}
            <div class="col-md-6">
                <!-- create box with blog image inside. if no blog image set, use a default -->
                <div class="team-member">
                    {% if blog_img %}
                        <img src="{{ blog_img.url }}" alt="{{ blog_img.alt }}" class="max-auto rounded-image">
                    {% else %}
                        <img src="/static/default_image.png" alt="Default Image" class="max-auto rounded-image">
                    {% endif %}
                </div>
                <h2 class="section-subheading">
                {{ post.specific.title }}
                </h2>
                <h5 class="section-subheading text-muted">
                {{ post.specific.date }}
                </h5>
                <p>
                {{ post.specific.summary }} ...
                </p>
                <a class="btn btn-primary btn-xs" href="{% pageurl post %}">
                Read More »
                </a>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>    
<!-- ABOUT GDC SECTION -->
<section class="page-section" id="aboutgdc">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About GDC</h2>
        </div>
        <div class="row text-start">
            <div class="col-md-4 mx-auto" style="padding:40px">
                <h4 class="my-3 text-center">{{ page.Section1_Header|richtext }}</h4>
                <div class="text-muted">{{ page.Section1_Content|richtext }}</div>
            </div>
            <div class="col-md-4 mx-auto" style="padding:40px">
                <h4 class="my-3 text-center">{{ page.gdc_bio_right_header|richtext }}</h4>
                <div class="text-muted">{{ page.gdc_bio_right_text|richtext }}</div>
            </div>
            <div class="col-md-4 mx-auto" style="padding:40px">
                <h4 class="my-3 text-center">{{ page.Section4_Header|richtext }}</h4>
                <div class="text-muted">{{ page.Section4_Content|richtext }}</div>
            </div>
            <div class="col-md-4 mx-auto" style="padding:40px">
                <h4 class="my-3 text-center">{{ page.Section5_Header|richtext }}</h4>
                <div class="text-muted">{{ page.Section5_Content|richtext }}</div>
            </div>
            <div class="col-md-4 mx-auto" style="padding:40px">
                <h4 class="my-3 text-center">{{ page.Section6_Header|richtext }}</h4>
                <div class="text-muted">{{ page.Section6_Content|richtext }}</div>
            </div>
        </div>
    </div>          
</section>      
<!-- GDC Video -->
<section class="page-section text-center bg-light" id="gdcvideo">
        <h2 class="my-3" style="padding-left:40px; padding-right:40px">
            {{ page.Section2_Header|richtext }}
        </h2>
        {% video self.gdc_about_video controls width="10%" %}
</section>
<!-- Instrument Teams -->
<section class="page-section" id="instteam">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">GDC Instrument Teams</h2>
            <h3 class="section-subheading text-muted">{{ page.instruments_bio|richtext }}</h3>
        </div>
        <div class="row" style="padding-bottom:40px">
            <div class="col-lg-4 mx-auto">
                <div class="team-member" style="padding-left:40px; padding-right:40px">
                    {% image page.aether_logo original class="max-auto rounded-image" %}
                    <h4>AETHER</h4>
                    <div class="text-muted">{{ page.aether_bio|richtext }}</div>
                </div>
            </div>
            <div class="col-lg-4 mx-auto">
                <div class="team-member" style="padding-left:40px; padding-right:40px">
                    {% image page.cape_logo original class="max-auto rounded-image" %}
                    <h4>CAPE</h4>
                    <div class="text-muted">{{ page.cape_bio|richtext }}</div>
                </div>
            </div>
            <div class="col-lg-4 mx-auto">
                <div class="team-member" style="padding-left:40px; padding-right:40px">
                    {% image page.mosaic_logo original class="max-auto rounded-image" %}
                    <h4>MoSAIC</h4>
                    <div class="text-muted">{{ page.mosaic_bio|richtext }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="team-member" style="padding-left:40px; padding-right:40px">
                    {% image page.nemisis_logo original class="max-auto rounded-image" %}
                    <h4>NEMISIS</h4>
                    <div class="text-muted">{{ page.nemisis_bio|richtext }}</div>
                </div>
            </div>
            <div class="col-lg-4 mx-auto">
                <div class="team-member" style="padding-left:40px; padding-right:40px">
                    {% image page.tps_logo original class="max-auto rounded-image" %}
                    <h4>TPS</h4>
                    <div class="text-muted">{{ page.tps_bio|richtext }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><div class="large text-muted">{{ page.instruments_lower_bio|richtext }}</div></div>
        </div>
    </div>
</section>
<!-- Timeline -->
<section class="page-section bg-light" id="events">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Upcoming Events</h2>
            <h3 class="section-subheading text-muted">{{ page.timeline_bio|richtext }}</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image">{% image page.timeline_1_image original class="rounded-circle img-fluid agu-logo" %}</div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>{{ page.timeline_1_date|richtext }}</h4>
                        <h4 class="subheading">{{ page.timeline_1_header|richtext }}</h4>
                    </div>
                    <div class="timeline-body"><div class="text-muted">{{ page.timeline_1_bio|richtext }}</div></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">{% image page.timeline_2_image original class="rounded-circle img-fluid agu-logo" %}</div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>{{ page.timeline_2_date|richtext }}</h4>
                        <h4 class="subheading">{{ page.timeline_2_header|richtext }}</h4>
                    </div>
                    <div class="timeline-body"><div class="text-muted">{{ page.timeline_2_bio|richtext }}</div></div>
                </div>
            </li>
            <li>
                <div class="timeline-image">{% image page.timeline_3_image width-300 class="rounded-circle img-fluid agu-logo" %}</div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>{{ page.timeline_3_date|richtext }}</h4>
                        <h4 class="subheading">{{ page.timeline_3_header|richtext }}</h4>
                    </div>
                    <div class="timeline-body"><div class="text-muted">{{ page.timeline_3_bio|richtext }}</div></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>{{ page.timeline_footer|richtext }}</h4>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Timeline -->

{% endblock %}

{% block extra_js %}

{% endblock %}
