{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

<!-- {% block extra_css %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
{% endblock %} -->

{% block content %}
{% load wagtailimages_tags %}
{% load wagtailvideos_tags %}
<body id="page-top">
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-heading text-uppercase">Geospace Dynamics Constellation</div>
            <div class="masthead-subheading">Science Community User Portal</div>
        </div>
    </header>

    <!-- Home-->
    <section class="page-section" id="gdcnews">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">
                    <a href="./blog/">
                        GDC News
                    </a>
                </h2>
                <div>
                    {% for post in news %}
                    <div class ="row mt-5 mb-5" align= "left">   
                        <h2 >
                            {{ post.specific.title }}
                        </h2>
                        <h5 class="section-subheading text-muted">
                            {{ post.specific.date }}
                        </h5>
                        <p>  
                            {{ post.specific.summary }} ...   
                        </p>
                        <a class="btn btn-default btn-xs" href="{% pageurl post %}">
                             More »
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="my-3">{{ page.Section1_Header|richtext }}</h4>
                    <div class="text-muted">{{ page.Section1_Content|richtext }}</div>
                </div>
                <div class="col-md-4">
                    <h4 class="my-3">{{ page.Section2_Header|richtext }}</h4>
                    {% video self.gdc_about_video controls width=350 %}
                </div>
                <div class="col-md-4">
                    <h4 class="my-3">{{ page.gdc_bio_right_header|richtext }}</h4>
                    <div class="text-muted">{{ page.gdc_bio_right_text|richtext }}</div>
                </div>
                <div class="col-md-4">
                    <h4 class="my-3">{{ page.Section4_Header|richtext }}</h4>
                    <div class="text-muted">{{ page.Section4_Content|richtext }}</div>
                </div>
                <div class="col-md-4">
                    <h4 class="my-3">{{ page.Section5_Header|richtext }}</h4>
                    <div class="text-muted">{{ page.Section5_Content|richtext }}</div>
                </div>
                <div class="col-md-4">
                    <h4 class="my-3">{{ page.Section6_Header|richtext }}</h4>
                    <div class="text-muted">{{ page.Section6_Content|richtext }}</div>
                </div>
            </div>
        </div>
    </section>






    <!-- Instrument Teams -->
    <section class="page-section bg-light" id="instteam">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">GDC Instrument Teams</h2>
                <h3 class="section-subheading text-muted">{{ page.instruments_bio|richtext }}</h3>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        {% image page.aether_logo original class="max-auto rounded-image" %}
                        <h4>AETHER</h4>
                        <div class="text-muted">{{ page.aether_bio|richtext }}</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        {% image page.cape_logo original class="max-auto rounded-image" %}
                        <h4>CAPE</h4>
                        <div class="text-muted">{{ page.cape_bio|richtext }}</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        {% image page.mosaic_logo original class="max-auto rounded-image" %}
                        <h4>MoSAIC</h4>
                        <div class="text-muted">{{ page.mosaic_bio|richtext }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        {% image page.nemisis_logo original class="max-auto rounded-image" %}
                        <h4>NEMISIS</h4>
                        <div class="text-muted">{{ page.nemisis_bio|richtext }}</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        {% image page.tps_logo original class="max-auto rounded-image" %}
                        <h4>TPS</h4>
                        <div class="text-muted">{{ page.tps_bio|richtext }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center"><div class="large text-muted">{{ page.instruments_lower_bio|richtext }}</div></div>
            </div>
        </div>
    </section>
    <!-- Timeline -->
    <section class="page-section" id="events">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Upcoming Events</h2>
                <h3 class="section-subheading text-muted">{{ page.timeline_bio|richtext }}</h3>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-image">{% image page.timeline_1_image original class="rounded-circle img-fluid agu-logo" %}</div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>{{ page.timeline_1_date|richtext }}</h4>
                            <h4 class="subheading">{{ page.timeline_1_header|richtext }}</h4>
                        </div>
                        <div class="timeline-body"><div class="text-muted">{{ page.timeline_1_bio|richtext }}</div></div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">{% image page.timeline_2_image original class="rounded-circle img-fluid agu-logo" %}</div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>{{ page.timeline_2_date|richtext }}</h4>
                            <h4 class="subheading">{{ page.timeline_2_header|richtext }}</h4>
                        </div>
                        <div class="timeline-body"><div class="text-muted">{{ page.timeline_2_bio|richtext }}</div></div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image">{% image page.timeline_3_image width-300 class="rounded-circle img-fluid agu-logo" %}</div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>{{ page.timeline_3_date|richtext }}</h4>
                            <h4 class="subheading">{{ page.timeline_3_header|richtext }}</h4>
                        </div>
                        <div class="timeline-body"><div class="text-muted">{{ page.timeline_3_bio|richtext }}</div></div>
                    </div>
                </li>
                <!-- <li class="timeline-inverted">
                    <div class="timeline-image">{% image page.timeline_4_image width-300 class="rounded-circle img-fluid" %}</div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>{{ page.timeline_4_date|richtext }}</h4>
                            <h4 class="subheading">{{ page.timeline_4_header|richtext }}</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">{{ page.timeline_4_bio|richtext }}</p></div>
                    </div>
                </li> -->
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <h4>{{ page.timeline_footer|richtext }}</h4>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- Timeline -->
</body>
{% endblock %}

{% block extra_js %}

{% endblock %}
