{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block body_class %}template-blogpage{% endblock %}
{% block content %}

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">
            Geospace Dynamics Constellation
        </div>
    </div>
</header>
<!-- Secondary Header -->
<section class="page-section bg-light" id="secondary-header" style="padding-top: 15px; padding-bottom: 5px;">
    <div class="container">
        <ul class="parent-links" style="padding-left: 0.5px">
            {% for parent_page in page.get_ancestors %}
                {% if not parent_page.is_root %}
                <li>
                    <a href="{{ parent_page.url }}" style="text-decoration: none;">
                        <button class="btn btn-primary btn-sm">{{ parent_page.title }}</button>
                    </a>
                </li>
                {% endif %}
            {% endfor %}
            <li>{{ page.title }}</li>
        </ul>
    </div>
</section>
<!-- Blog Post -->
<p style="margin-bottom:1cm;"></p>
<div class = "container"> 
<div style="width: 100%; overflow: hidden;">
    {% image page.blog_image fill-1920x600 as img %}
    <img src="{{ img.url }}" alt="{{ img.alt }}" style="width: 100%; height: auto; display: block; margin: 0 auto;">
</div>
<div class="blog-card"> 
    <h1 style="text-align: center;">
        {{ page.title }}
    </h1>
    {% if page.subtitle %}
        <h2 style="text-align: center;">
            {{ page.subtitle|richtext }}
        </h2>
    {% endif %}
    <h5 class="section-subheading text-muted" style="text-align: center">
        {{ page.date }}
    </h5>
    {% for block in page.stream_body %}
        {% if block.block_type == 'rich_text' %}
            <p class="blog-richtext">
                {{ block.value }}
            </p>
        {% elif block.block_type == 'captioned_image' %}
            <div class="blog-captioned-image">
                {% image block.value.picture width-400 %}
                <p> {{ block.value.caption }} </p>
            </div>
        {% endif %}
    {% endfor %}
</div>
<!-- RETURN TO NEWS BUTTON -->
<p class="text-center"> 
    <a href="{{ page.get_parent.url }}">
      <button class="btn btn-primary btn-xs">« Return to News</button>
    </a>
</p>

{% endblock %}