{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}template-instrumentpage{% endblock %}

{% block content %}
{% load wagtailimages_tags %}

<body id="page-top">
    <!-- Masthead-->
    <header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">
            {{ page.instrument_name|richtext }}
        </div>
    </div>
    </header>

    <!-- Home-->
    <section class="page-section" id="Intro">
        <div class="container">
            <div class="text-center">
                <div class = "container"> 
                    {% image page.instrument_logo max-320x200 %}
                </div>
                <div class="row text-center mt-5">
                    <div class="col-md-4">
                        <h2 class="section-heading text-uppercase">
                            PI
                        </h2>
                        <div>
                            {% image page.PI_photo max-250x250 %}
                        </div>
                        <h3 class="section-heading text-muted">
                            {{ page.PI|richtext }}
                        </h3>
                    </div>
                    <div class="col-md-4">
                        <h2 class="section-heading text-uppercase">
                            DPI
                        </h2>
                        <div>
                            {% image page.DPI_photo max-250x250 %}
                        </div>
                        <h3 class="section-subheading text-muted">
                            {{ page.DPI|richtext }}
                        </h3>
                    </div>
                    <div class="col-md-4">
                        <h2 class="section-heading text-uppercase">
                            Instrument Scientist
                        </h2>
                        <div>
                            {% image page.instrument_scientist_photo max-250x250 %}
                        </div>
                        <h3 class="section-subheading text-muted">
                            {{ page.instrument_scientist|richtext }}
                        </h3>
                    </div>
                </div>
            </div>  
            <div class="row text-center">
                <div class="col-md-4">
                    <h2 class="section-heading text-uppercase">
                        Institutions and their roles
                    </h2>
                    <h3 class="section-subheading text-muted">
                        {{ page.institutions|richtext}}
                    </h3>
                </div>
                <div class="col-md-4">
                    <h2 class="section-heading text-uppercase">
                        Summary of {{page.instrument_name|richtext}}
                    </h2>
                    <h3 class="section-subheading text-muted">
                        {{ page.instrument_summary|richtext}}
                    </h3>
                </div>
            </div>
        </div>       
    </section>
    <section class="page-section" id="What does the instrument do?">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">
                    Measurement Requirements and Expectations
                </h2> 
                <h3 class="section-subheading text-muted">
                    {{page.measurements|richtext}}
                </h3>
                <h2 class="section-heading text-uppercase">
                    Data Products    
                </h2>
                <h3 class="section-subheading text-muted">
                    {{page.data_products|richtext}}
                </h3>
                <h2 class="section-heading text-uppercase">
                    Realtime Products    
                </h2>
                <h3 class="section-subheading text-muted">
                    {{page.realtime_products|richtext}}
                </h3>
            </div>
        </div>
    </section>
    <section class="page-section" id="How does the instrument work">
        <div class="container">
            <div class="text-center">
                <div class="container">
                    {% image page.image_of_instrument max-320x320 %}
                </div>
                <h2 class="section-heading text-uppercase">
                    Instrument Parameters    
                </h2>
                <h3 class="section-subheading text-muted">
                    {{page.instrument_parameters|richtext}}
                </h3>
                <h2 class="section-heading text-uppercase">
                    Principles of Operation    
                </h2>
                <h3 class="section-subheading text-muted">
                    {{page.operation_principles|richtext}}
                </h3>
                <h2 class="section-heading text-uppercase">
                    Concept of Operation    
                </h2>
                <h3 class="section-subheading text-muted">
                    {{page.operation_concept|richtext}}
                </h3>
            </div>
        </div>
    </section>
    <section class="page-section" id="Further Reading">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">
                    Instrument Heritage    
                </h2>
                <h3 class="section-subheading text-muted">
                    {{page.heritage|richtext}}
                </h3>
                <h2 class="section-heading text-uppercase">
                    Team Members   
                </h2>
                <h3 class="section-subheading text-muted">
                    {{page.team|richtext}}
                </h3>
                <h2 class="section-heading text-uppercase">
                    Related Documents    
                </h2>
                <h3 class="section-subheading text-muted">
                    {{page.documents|richtext}}
                </h3>
            </div>
        </div>
    </section>
    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">{{ page.gdc_bio_left_header|richtext }}</h4>
                    <p class="text-muted">{{ page.gdc_bio_left_text|richtext }}</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">{{ page.gdc_bio_center_header|richtext }}</h4>
                    <p class="text-muted">{{ page.gdc_bio_center_text|richtext }}</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">{{ page.gdc_bio_right_header|richtext }}</h4>
                    <p class="text-muted">{{ page.gdc_bio_right_text|richtext }}</p>
                </div>
            </div>
        </div>
    
</body>


{% endblock %}

{% block extra_js %}

{% endblock %}